.H_ib_content {
  min-width: 12em;
  font-family: 'Montserrat', sans-serif;
}

.overflowBox {
  max-width: 12em;
}
.categoriesBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 5px 2px;
}

.category {
  font-size: 10px;
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 2px 4px;
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
  margin-right: 4px;
}

.primeCategory {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}

/* Custom Styling without here_stylesheet WIP

 .custom-bubble {
  background-color: white;
  width: 150px;
  height: 100px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: -130px;
  left: -60px;
  padding: 8px;
}
.H_ib_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.H_ib_close {
  max-width: 15px;
  align-self: flex-end;
  margin: 8px;
} */
